@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-brand-dark: #141414;
  --color-brand-light: #fffbfb;
  --color-brand-blue-light: #a9b4f6;
  --color-brand-blue-dark: #4444e9;
  --color-brand-pink: #ff89de;
  --color-brand-yellow: #efea43;
  --color-brand-red: #ff3948;
  --color-brand-gray-700: #71717a;
  --color-brand-gray-800: #52525b;
  --color-brand-gray-100: #f4f2f6;
  --color-whatsapp: #45ec6f;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@font-face {
  font-family: "Archivo";
  src: url("/assets/fonts/Archivo.ttf");
  font-display: swap;
  font-style: normal;
}


html{
  scroll-behavior: smooth;
}


#Anual {
  scroll-margin-top: 300px;
}

body {
  font-family: "Archivo", sans-serif;
  /* overflow: hidden; */
}

/* efeito das sections */

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

@media (min-height: 768px) {
  #wrapper {
    height: 2000px;
  }
}

/* swiper  */

.swiper {
  width: 100%;
}

.swiper [class^="swiper-button-"] {
  inset: initial;
  margin: 0;
  align-self: center;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
}
/* Style swiper arrows */

.swiper .swiper-button-prev {
  position: static !important;
  justify-self: end;
  margin-left: 2px;
  transform: scaleX(-1);
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
}
.swiper .swiper-button-next {
  justify-self: ;
  margin-right: 2px;
}

.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 20%;
  height: 20%;
  max-width: 48px;
  margin: auto;
  background-image: url("/assets/images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1) !important;
  z-index: 60;
}
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 20%;
  height: 20%;
  max-width: 48px;
  margin: auto;
  background-image: url("/assets/images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 17px;
  --swiper-navigation-size: 100px;
  color: transparent !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: 900;
}

.swiper-pagination {
  position: absolute !important
  ;
}

.swiper-pagination-bullet {
  background: #fff !important ;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}

@media screen and (min-width: 1200px) {
  .container-margin {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
