@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-brand-dark: #141414;
  --color-brand-light: #FFFBFB;
  --color-brand-blue-light: #A9B4F6;
  --color-brand-blue-dark: #4444E9;
  --color-brand-pink: #FF89DE;
  --color-brand-yellow: #EFEA43;
  --color-brand-red: #FF3948;
  --color-brand-gray-700: #9B9B9F;
  --color-brand-gray-100: #F4F2F6;
  --color-whatsapp: #45EC6F;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@font-face {
  font-family: 'Archivo';
  src: url('/assets/fonts/Archivo.ttf');
  font-display: swap;
  font-style: normal;
}

body{
  font-family: 'Archivo', sans-serif;
}

@media screen and (min-width: 1200px) {
  .container-margin {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}