@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-brand-dark: #141414;
  --color-brand-light: #FFFBFB;
  --color-brand-blue-light: #A9B4F6;
  --color-brand-blue-dark: #4444E9;
  --color-brand-pink: #FF89DE;
  --color-brand-yellow: #EFEA43;
  --color-brand-red: #FF3948;
  --color-brand-gray-700: #9B9B9F;
  --color-brand-gray-100: #F4F2F6;
  --color-whatsapp: #45EC6F;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@font-face {
  font-family: 'Archivo';
  src: url('/assets/fonts/Archivo.ttf');
  font-display: swap;
  font-style: normal;
}

body{
  font-family: 'Archivo', sans-serif;
}

/* swiper  */

.swiper {
  width: 100%;
  padding-bottom: 1rem !important;
}

.swiper [class^='swiper-button-'] {
  inset: initial;
  margin: 0;
  align-self: center;
}

.swiper-wrapper {
  margin-bottom: 12px !important;
  position: relative;
  width: 100%;
}
/* Style swiper arrows */

.swiper .swiper-button-prev {
  position: static !important;
  justify-self: end;
  margin-left: 2px;
  transform: scaleX(-1);
}


.swiper-button-prev, .swiper-button-next {
  position: static !important;
}
.swiper .swiper-button-next {

  justify-self: ;
  margin-right: 2px;
}

.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 20%;
  height: 20%;
  max-width: 48px;
  margin: auto;
  background-image: url('/assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1) !important;
  z-index: 60;
}
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 20%;
  height: 20%;
  max-width: 48px;
  margin: auto;
  background-image: url('/assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 17px;
  --swiper-navigation-size: 100px;
  color: transparent !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: 900;
}

.swiper-pagination {
  position: absolute !important
  ;
}

.swiper-pagination-bullet {
  background: #fff !important ;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}


@media screen and (min-width: 1200px) {
  .container-margin {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}